{% extends '::base.html.twig' %}

{% block title "Groups" %}

{%- block body %}
    <h1 class="title">{% trans from 'EgilsGroupsBundle' %}groups.list.headline{% endtrans %}</h1>

    {% if groups|length > 0 %}
        <ul>
        {% for group in groups %}
            <li>
                <a href="{{ path('get_group', {'id': group.getId()}) }}" >{{ group.getName() }}</a>&nbsp;
                [<a href="{{ path('edit_group', {'id': group.getId()}) }}" >{% trans from 'EgilsGroupsBundle' %}group.edit{% endtrans %}</a>]&nbsp;
                [<a href="{{ path('remove_group', {'id': group.getId()}) }}" >{% trans from 'EgilsGroupsBundle' %}group.delete{% endtrans %}</a>]
            </li>
        {% endfor %}
        </ul>
    {% else %}

    {% endif %}
    <a href="{{ url('new_group') }}">{% trans from 'EgilsGroupsBundle' %}group.new.headline{% endtrans %}</a>
{% endblock body -%}
